# Docker Compose local
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_USER=devops_user
MYSQL_PASSWORD=change_me_password
MYSQL_DB_DESPACHO=db_despacho
MYSQL_DB_VENTA=db_venta

SPRING_DESPACHO_URL=jdbc:mysql://db-sistema:3306/db_despacho?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
SPRING_DESPACHO_USER=devops_user
SPRING_DESPACHO_PASS=change_me_password

SPRING_VENTA_URL=jdbc:mysql://db-sistema:3306/db_venta?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
SPRING_VENTA_USER=devops_user
SPRING_VENTA_PASS=change_me_password

# Local: APIs se consumen directamente (no pasan por nginx)
# En EKS: nginx hace proxy_pass interno a backend-ventas:8084 y backend-despachos:8085
VITE_API_DESPACHOS_URL=http://localhost:8082
VITE_API_VENTA_URL=http://localhost:8083
