.env
.env.*
!.env.example
front_despacho/.env
front_despacho/.env.*
!front_despacho/.env.example

.DS_Store
.idea/

node_modules/
dist/
build/
target/

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

rendered-k8s/
tfplan
*.log
